@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  background: #FFFFFF;
}

/************************* HEADER ****************************/

.header{
  margin-top:45px ;
}
.container{
  width: 1140px;
  margin: 0 auto;
} 
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_item:hover{
  color: #F53855;
}
.header_links, .header__links ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.header__buttons_sign_in{
  background: #FFFFFF;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.header__buttons_sign_in:hover {
  color: #F53855;
}
.header__buttons_sign_up {
  border: 1px solid #F53855;
  border-radius: 50px;
  width: 150px;
  height: 45px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F53855;
  background: #FFFFFF;
}
.header__buttons_sign_up:hover {
  background-color: #F53838;
  color: #FFFFFF;
}




/**************************** MAIN SECTION ****************************/
/* .main{
  width: 1140px;
  margin: 0 auto;
} */
.hero {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #FFFFFF;
  margin-top: 120.9px;
}
.hero__title{
  width: 555px;
  height: 140px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
}
.hero__text{
  width: 555px;
  height: 60px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-top: 20px;
}
.hero__button {
  margin-top: 50px;
}
.red_button {
  width: 250px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  box-shadow: 0px 25px 50px  #F5383859;
}
.red_button:hover {
  box-shadow: 0px 25px 50px  #f8010159;
}
.red_button:active {
  box-shadow: 0px 25px 50px  #F5383859;
}


/**************************** STATS SECTION ****************************/
.statistics{
  margin-top:102px;
  width: 1140px;
  height: 200px;
}
.statistics__box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFFFFF;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 30px 90px rgba(13, 16, 37, 0.25);
}
  
.statistics__item{
  display: flex;
  align-items: center;
}
.statistics__item p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}
.statistics__item span {
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}
.statistics__item img {
  height: 55px;
  width: 55px;
  margin-right: 37px;
}


/**************************** FEATURES SECTION ****************************/

.features {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #FFFFFF;
  margin-top: 108px;
}

.features__title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

.features__text{
  margin-top: 20px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.features__text img {
  margin-right: 12.08px;
}

.features__text li:first-child {
  margin-top: 20px;
}

.features__text li:not(:first-child) {
  margin-top: 15px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

.features__text-box{
  order: 2;
}
.features__illustration{
  order:1;
}

/**************************** CHOOSE PLAN SECTION ****************************/
.text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}
.plan {
  margin-top: 100px;
  text-align: center;
  background-color:#F8F8f8; 
}
.plan__box{
    width: 1140px;
    margin: 0 auto;
}

.plan__header{
  padding-top: 82px;
}
.plan__header h1{
  margin-bottom:20px ;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
}
.plan__header p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.plan__cards{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.plan__cards__item{
  position: relative;
  box-sizing: border-box;
  width: 330px;
  height: 760px;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}
.plan__cards__item:hover{
  border: 2px solid #F53838;
}
.item__image{
  margin: 79.63px 92.55px 30px 92.55px ;
  width: 144.9px;
  height: 165.37px;
}
.item__image__title{
  margin-bottom: 30px;
}

.item__text li{
  text-align: left;
  margin-left: 69.87px;
  margin-bottom: 10px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}
.item__text li:last-child{
  margin-bottom: 0px;
}

.plan__item__price{
  margin: 0 76.06px 0px 76.06px;
  bottom: 50px;
  position: absolute;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
} 
.plan__item__price__text{
  margin-bottom:20px ;
}
.plan__item__price button{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  width: 177.88px;
  height: 45px;
  border: 2px solid #F53838;
  color: #f53838;
  background-color:#FFFFFF;
  border-radius: 50px;
  box-sizing: border-box;
} 
.plan__item__price button:hover {
  background-color: #F53838;
  color: #FFFFFF;
  box-shadow: 0px 15px 50px  #f8010159;
}
